@use 'sass:math'
@use 'sass:color'

@import config
// @import 'blocks/**/*' 

button, input
	outline: none
.flex
	display: flex
.fixed
	position: fixed
	overflow-y: scroll
.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
.popup-reg
	.popup-content
		form
			.tabs
				text-align: center
				margin-bottom: 20px
				button
					border: none
					background-color: #fff
					border-radius: 6px
					padding: 10px 15px
					cursor: pointer
					font-size: 16px
					font-family: Nunito-Regular, sans-serif
					color: #33324e
					transition: 0.25s
					&:hover
						background-color: #4353ff
						color: #fff
				button.active
					background-color: #4353ff
					color: #fff
			.form-section
				margin-bottom: 20px
				select
					font-size: 16px
					font-family: Nunito-Regular, sans-serif
					color: #33324e
					border: 1px solid #ccc
					padding: 10px 15px
					outline: none
					display: block
					width: 100%
					margin-bottom: 15px
				.head
					font-family: Nunito-SemiBold, sans-serif
					margin-bottom: 15px
				.checkbox-wrap:not(:last-child)
					margin-bottom: 15px
			.checkbox-wrap
				input[type=checkbox]
					margin: 0 5px 3px 0
				a
					color: $accent
			.confident
				margin: 20px 0 30px 0
.popup.popup-logIn
	.popup-content
		form
			margin-bottom: 25px
			padding: 0 25px
			.checkbox-wrap
				margin: 15px 0
			input[type=checkbox]
				margin: 0 5px 3px 0
			input, label
				margin-bottom: 15px
.popup
	display: none
	position: fixed
	z-index: 1000
	width: 100%
	height: 100%
	overflow: auto
	background-color: rgba(0,0,0,0.5)
	.popup-wrap
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
	.popup-content
		overflow: auto
		font-size: 16px
		background-color: #fff
		box-shadow: 0 0 40px rgba(95, 125, 149, 0.7)
		padding: 0 50px 25px 50px
		box-sizing: border-box
		position: relative
		max-width: 570px
		max-height: 80%
		button.cross
			position: absolute
			top: 5px
			right: 5px
			border: none
			background-color: #fff
			padding: 0
			cursor: pointer
			transition: 0.25s
			&:hover
				opacity: 0.5
			svg
				width: 30px
				height: auto
				display: block
		h3 
			font-size: 22px
			text-align: center
		form
			input:not(:last-child)
				margin-bottom: 15px
			input
				width: 100%
				font-family: Nunito-Regular, sans-serif
				font-size: 16px
				box-sizing: border-box
			input[type=password], input[type=email], input[type=text], input[type=tel]
				border: 1px solid #ccc
				padding: 10px 15px
			label
				width: auto
			input[type=checkbox], label
				vertical-align: middle
				cursor: pointer
			input[type=checkbox]
				width: 20px
				height: 20px
			input[type=submit]
				cursor: pointer
				background-color: #4353ff
				color: #ffffff
				padding: 10px 15px
				border: none
				border-radius: 6px
				font-size: 16px
				font-family: Nunito-Regular, sans-serif
				transition: 0.5s
				&:hover
					background-color: #7B86FF
					color: #ffffff
		.popup-links
			border-top: 1px solid #ccc
			.float-right
				float: right
			button
				padding: 15px 0
				cursor: pointer
				border: none
				background-color: #fff
				font-size: 16px
				font-family: Nunito-Regular, sans-serif
				color: #33324e
				&:hover
					color: #4353ff
.mobile-menu
	display: none
	background-color: #fff
	position: fixed
	z-index: 100
	width: 100%
	height: 100%
	top: 55px
	text-align: center
	font-size: 18px
	padding: 0 15px 55px 15px
	box-sizing: border-box
	transition: 0.35s
	overflow-y: scroll
	a
		display: block
	.item
		border-bottom: 1px solid #ccc
	.links
		padding: 10px
	.plans
		font-family: Nunito-SemiBold, sans-serif
		a
			padding: 10px
	.login
		button
			border: none
			font-size: 18px
			cursor: pointer
			background-color: #fff
			color: #33324e
			font-family: Nunito-Regular, sans-serif
			width: 100%
			padding: 10px 0
	ul
		list-style: none
		li
			a
				padding: 10px 0
		li.dropdown.opened
			span::after
				transform: rotate(-180deg)
		li.dropdown
			padding: 10px 0
			position: relative
			cursor: pointer
			ul
				display: none
				margin-top: 15px
				background-color: #F6F7FB
				border-top: 1px solid #ccc
				border-bottom: 1px solid #ccc
			span::after
				content: url(../images/dist/down-arrow.svg)
				transition: 0.15s
				width: 40px
				height: 40px
				display: inline-block
				position: absolute
				top: 0

.mobile-menu.hidden
	transform: translateX(-100%)
	opacity: 0.5
header
	font-size: 16px
	padding: 0 30px
	margin-bottom: 15px
	ul
		li
			display: inline-block
	.header-box
		padding: 5px 0
		display: flex
		justify-content: space-between
		align-items: center
		border-bottom: 1px solid #cccccc
		.hamburger
			display: none
			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
				background-color: #33324e
		.logo
			font-family: Nunito-Bold, sans-serif
			font-size: 25px
			letter-spacing: 8px
			text-transform: uppercase
			text-shadow: 2px 3px 11px black
			a
				color: #2D047E
				text-decoration: underline
				text-decoration-color: #FF5900
		.plans
			a
				padding: 5px 20px
				display: block
				border: 1px solid $textcolor
				border-radius: 5px
				transition: 0.5s
			a:hover
				border-color: $accent
				transform: translateY(-1px)
		ul
			li
				span
					cursor: pointer
					transition: 0.25s
					&:hover
						color: $accent
			li:not(:last-child)
				margin-right: 20px
	.header-menu
		padding: 15px 0
		font-size: 18px
		text-align: center
		font-family: Nunito-SemiBold
		ul
			li:not(:last-child)
				margin-right: 30px
			li
				position: relative
				&:hover
					cursor: pointer
					ul
						opacity: 1
						pointer-events: auto
						transform: none
			li > ul
				position: absolute
				top: 100%
				width: 360px
				text-align: left
				transition: 0.5s
				transform: translateY(-15px)
				opacity: 0
				pointer-events: none
				background-color: #fff
				li
					width: 100%
					a
						padding: 7px
						display: block
					&:hover
						background-color: $section-bg
footer
	background-color: #F6F7FB
	text-align: center
	font-size: 18px
	line-height: 1.5
	padding: 30px
	span.copy
		font-size: 20px
	.content
		align-items: start
		justify-content: space-between
	nav
		text-align: left
		width: 35em
		ul
			li
				display: block
				a
					color: #7f88a6
			li:not(:last-child)
				margin-right: 25px
				margin-bottom: 5px
	.contacts
		text-align: right
		a
			margin-bottom: 5px
			display: block
	iframe
		display: block
		margin-left: auto
		margin-bottom: 25px


@media screen and (max-width: 1024px)
	footer
		font-size: 16px
		span.copy
			font-size: 18px
		nav
			margin-bottom: 15px

@media screen and (max-width: 768px)
	.mobile-menu
		display: block
	header
		padding: 0 15px
		margin-bottom: 0
		.header-box
			position: relative
			z-index: 201
			justify-content: center
			padding: 12px 0
			.hamburger
				display: inline-block
				position: absolute
				top: 0
				left: 0
				z-index: 202

			.plans, .login
				display: none

		.header-menu
			display: none
	footer
		padding: 15px
		.content
			flex-direction: column
		nav
			width: 100%
			margin-bottom: 7px
			text-align: center
			ul 
				li:not(:last-child)
					margin-right: 0
		.contacts
			width: 100%
			text-align: center
		iframe
			display: none

@media screen and (max-width: 576px)
	.popup
		.popup-content
			height: 100%
			width: 100%
			max-height: none
			padding: 25px 15px 25px 15px
	.popup.popup-logIn
		.popup-content
			form
				padding-left: 0
				padding-right: 0
	header
		.header-box
			.logo
				font-size: 20px
			.hamburger
				padding: 12px
			.hamburger-box
				width: 32px
				height: 25px
				display: block
			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
				width: 32px
				height: 3px
			.hamburger-inner:before
				top: -8px
			.hamburger-inner:after
				bottom: -8px
	footer
		span.copy
			font-size: 17px
		nav
			ul
				li
					display: block
				li:not(:last-child)
					margin: 0
		.contacts
			margin-bottom: 15px
		
				
@media screen and (max-width: 425px)
	.mobile-menu
		padding-bottom: 73px
		top: 73px
	header
		.header-box
			justify-content: space-between
			.hamburger
				position: relative
	
