.popup-review
	text-align: center
	.popup-content
		width: 100%
	.head
		font-family: Nunito-SemiBold, sans-serif
		font-size: 18px
		margin-bottom: 15px
	.section
		margin-bottom: 25px
	textarea
		margin-top: 15px
		width: 100%
		resize: none
		font-family: Nunito-Regular, sans-serif
		font-size: 16px
		-webkit-box-sizing: border-box
		box-sizing: border-box
	.b-btn
		background-color: #4353ff
		color: #ffffff
		display: block
		margin-left: auto
		margin-right: auto
		padding: 10px 15px
		border: none
		border-radius: 6px
		cursor: pointer
		transition: 0.5s
		font-size: 16px
		font-family: Nunito-Regular, sans-serif
		&:hover
			background-color: #7B86FF
			color: #ffffff
	.rate-area
		overflow: hidden
		margin: 0 auto
		width: 210px
	.rate-area:not(:checked) > input 
		display: none
	.rate-area:not(:checked) > label
		float: right
		width: 42px
		padding: 0
		cursor: pointer
	.rate-area:not(:checked) > label:before
		content: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF'%3E%3Cpath clip-rule='evenodd' d='m13.568 1.395 3.052 7.577 7.816.704c.542.05.762.758.35 1.132l-5.927 5.386 1.776 8.012c.123.557-.452.995-.918.699l-6.716-4.248-6.717 4.248c-.467.294-1.04-.144-.918-.7l1.777-8.011-5.93-5.387c-.411-.374-.192-1.083.352-1.132L9.38 8.97l3.053-7.576a.605.605 0 0 1 1.135 0Z' stroke='%23FCA95D'%3E%3C/path%3E%3C/svg%3E")
	.rate-area > input:checked ~ label:before
		content: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' fill='%23FCA95D'%3E%3Cpath clip-rule='evenodd' d='m13.568 1.395 3.052 7.577 7.816.704c.542.05.762.758.35 1.132l-5.927 5.386 1.776 8.012c.123.557-.452.995-.918.699l-6.716-4.248-6.717 4.248c-.467.294-1.04-.144-.918-.7l1.777-8.011-5.93-5.387c-.411-.374-.192-1.083.352-1.132L9.38 8.97l3.053-7.576a.605.605 0 0 1 1.135 0Z' stroke='%23FCA95D'%3E%3C/path%3E%3C/svg%3E")
	.rate-area:not(:checked) label:hover ~ label:before,
	.rate-area:not(:checked) > label:hover:before
		content: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' fill='%23FCA95D'%3E%3Cpath clip-rule='evenodd' d='m13.568 1.395 3.052 7.577 7.816.704c.542.05.762.758.35 1.132l-5.927 5.386 1.776 8.012c.123.557-.452.995-.918.699l-6.716-4.248-6.717 4.248c-.467.294-1.04-.144-.918-.7l1.777-8.011-5.93-5.387c-.411-.374-.192-1.083.352-1.132L9.38 8.97l3.053-7.576a.605.605 0 0 1 1.135 0Z' stroke='%23FCA95D'%3E%3C/path%3E%3C/svg%3E")
	// .rate-area > input:checked + label:hover:before,
	// .rate-area > input:checked + label:hover ~ label:before,
	// .rate-area > input:checked ~ label:hover:before,
	// .rate-area > input:checked ~ label:hover ~ label:before,
	// .rate-area > label:hover ~ input:checked ~ label:before
	// 	content: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg' fill='%23FCA95D'%3E%3Cpath clip-rule='evenodd' d='m13.568 1.395 3.052 7.577 7.816.704c.542.05.762.758.35 1.132l-5.927 5.386 1.776 8.012c.123.557-.452.995-.918.699l-6.716-4.248-6.717 4.248c-.467.294-1.04-.144-.918-.7l1.777-8.011-5.93-5.387c-.411-.374-.192-1.083.352-1.132L9.38 8.97l3.053-7.576a.605.605 0 0 1 1.135 0Z' stroke='%23FCA95D'%3E%3C/path%3E%3C/svg%3E")
	.rate-area > label:active
		position: relative
main
	display: flex
	font-size: 16px
	aside
		padding: 70px 15px 25px 15px
		.reclam
			width: 200px
			min-height: 600px
			height: 100%
			background-color: gray
			opacity: 0.3
	.content
		width: 100%
		overflow-x: hidden
		box-sizing: border-box
		padding-bottom: 35px
		.org-card
			.org-header
				padding: 25px 0
				text-align: center
				margin-bottom: 15px
				.org-sub
					font-size: 20px
					text-align: center
					margin-bottom: 10px
					margin-top: 0
				h2
					font-size: 25px
					display: inline-block
					vertical-align: middle
					margin: 0
					max-width: 87%
				button.right
					float: right
				button
					float: left
					padding: 5px
					vertical-align: middle
					border: none
					border-radius: 5px
					background: none
					cursor: pointer
					transition: 0.25s
					&:hover
						background-color: #7B86FF
						svg
							stroke: #ffffff
							path
								stroke: #ffffff
					svg
						vertical-align: middle
						width: 30px
						height: 30px
					svg, path
						transition: 0.25s
			.org-actions
				display: flex
				justify-content: space-around
				align-items: center
				flex-wrap: wrap
				gap: 20px
				img
					width: 350px
					height: auto
				.btns
					width: 35%
					.b-btn
						background-color: #4353ff
						color: #ffffff
						width: 100%
						display: block
						padding: 10px 15px
						border: none
						border-radius: 6px
						cursor: pointer
						transition: 0.5s
						font-size: 16px
						font-family: Nunito-Regular, sans-serif
						&:hover
							background-color: #7B86FF
							color: #ffffff
						&:not(:last-child)
							margin-bottom: 15px
				.review
					font-family: Nunito-SemiBold, sans-serif
					cursor: pointer
					.rate
						svg
							width: 20px
							height: auto
						span, svg
							vertical-align: top
						span
							line-height: 1.4
					p
						text-align: center
						font-size: 18px
						color: #7B86FF
		.tabs::-webkit-scrollbar
			height: 0
		.tabs
			border-bottom: 1px solid #ccc
			padding-top: 25px
			display: flex
			flex-flow: row nowrap
			justify-content: space-between
			white-space: nowrap
			overflow-y: hidden
			overflow-x: auto
			max-width: 100%
			width: 100%
			.tabs-left, .tabs-right
				display: flex
			button.selected
				background-color: #4353ff
				color: #fff
				.r
					background-color: #fff
					color: #000
			button
				white-space: nowrap
				min-width: 110px
				border: none
				background-color: #fff
				border-top-left-radius: 6px
				border-top-right-radius: 6px
				padding: 10px 15px
				font-size: 16px
				color: #33324e
				font-family: Nunito-Regular, sans-serif
				outline: none
				cursor: pointer
				-webkit-transition: 0.25s
				transition: 0.25s
				&:hover
					background-color: #4353ff
					color: #fff
					.r
						background-color: #fff
						color: #000
				.r
					transition: 0.25s
					display: inline-block
					padding: 3px 6px
					background-color: #4353ff
					color: #fff
					border-radius: 15px
					font-size: 14px
					line-height: 14px
					vertical-align: text-top
		.tab-content
			padding: 15px 35px 15px 0
			opacity: 0
			display: none
			.item
				&:not(last-child)
					margin-bottom: 25px
				.title
					font-family: Nunito-SemiBold, sans-serif
					font-size: 18px
					margin-bottom: 10px
			.row
				.item:not(:last-child)
					margin-right: 25px
			.head.flex
				align-items: center
			.rate
				svg
					width: 20px
					height: auto
				span, svg
					vertical-align: top
				span
					line-height: 1.4
			.b-btn
				background-color: #4353ff
				color: #ffffff
				display: block
				margin-left: auto
				margin-right: auto
				padding: 10px 15px
				border: none
				border-radius: 6px
				cursor: pointer
				transition: 0.5s
				font-size: 16px
				font-family: Nunito-Regular, sans-serif
				&:hover
					background-color: #7B86FF
					color: #ffffff
				&:not(:last-child)
					margin-bottom: 15px
			.item-card
				box-shadow: 0 0 40px rgba(95, 125, 149, 0.1)
				background-color: #fff
				padding: 15px 25px
				max-width: 30%
				cursor: pointer
				.card-header
					button
						cursor: pointer
						padding: 4px 5px
						margin-right: 15px
						border: none
						border-radius: 5px
						background-color: #fff
						transition: 0.25s
						&:hover
							background-color: #7B86FF
							svg
								stroke: #ffffff
								path
									stroke: #ffffff
					svg
						vertical-align: middle
						width: 30px
						height: 30px
						path
							transition: 0.25s
				img
					width: 100%
					margin-bottom: 25px
				.title
					font-family: Nunito-SemiBold, sans-serif
					font-size: 18px
					margin: 15px 0
				.line
					a
						color: #4353ff
					.value
						float: right
					.highlight
						background-color: #7B86FF
						color: #ffffff
						border-radius: 15px
						padding: 5px 7px
						margin-top: -5px
				.line:not(:last-child)
					margin-bottom: 10px
		.tab-content.selected
			display: block
			opacity: 1
@media screen and (max-width: 1440px)
	main
		aside
			padding-top: 65px
			.reclam
				width: 150px
		.content 
			h2
				font-size: 22px
			.tab-content
				.item-card
					max-width: 45%
@media screen and (max-width: 1024px)
	main
		.content
			.tab-content
				.item-card
					max-width: none
					width: 100%
					box-sizing: border-box
			.org-card
				.org-sub
					font-size: 18px
				.org-header
					h2
						font-size: 20px

@media screen and (max-width: 768px)
	main
		display: block
		aside
			width: 100%
			box-sizing: border-box
			padding-top: 0
			.reclam
				height: 150px
				width: 100%
		aside:not(.mobile)
			display: none
		.content
			padding: 0 15px 35px 15px
			.org-card
				.org-header
					padding: 15px 0
					h2
						font-size: 18px
					.org-sub
						font-size: 16px
				.org-actions
					display: block
					text-align: center
					img
						max-width: 100%
					.btns
						width: 100%
						margin: 15px 0
@media screen and (max-width: 576px)
	main
		aside
			a
				width: 49%
		.content
			.tab-content
				.item-card
					padding: 15px
@media screen and (max-width: 425px)	
	main
		aside
			a
				width: 85%
			a:not(:first-child)
				display: none		